html {
    background: #CCF;
    color: #222;
    font-family: sans-serif;
}
body {
    max-width: 700px;
    background: white;
    margin: 0 auto;
    padding: 1em;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    box-shadow: 0 0 10px gray;
}
.sprite {
    float: right;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav a:link, .nav a:visited {
    display:block;
    width:100px;
    padding:4px;
    color:black;
    background-color:white;
    text-align: left;
    text-decoration:none;
}

.nav a:hover, .nav a:active {
    background-color: #CCF;
    color:black;
    display:block;
    padding:4px;
    text-align: left;
    text-decoration: none;
}
