html {
    background: #34495e;
    color: #222;
    font-family: sans-serif;
}
body {
    max-width: 700px;
    background: white;
    margin:0 auto;
    padding: 1em;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.sprite {
    float: right;
}
.nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav li {
    display: inline-block;
    width: 160px;
    position: relative;
}

.nav li a {
    background: #34495e;
    color: white;
    display: block;
    padding: 7px 8px;
    text-decoration: none;
    border-top: 1px solid white;
}

.nav li a:hover {
    color: #f1c40f;
}
.nav ul {
    transition: transform 0.25s ease;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    position: absolute;
    margin-left: 0px;
    list-style: none;
    padding: 0px;
}

.nav ul li {
    width: 160px;
}

.nav ul a {
    display: block;
    height: 15px;
    padding: 7px 8px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #34495e;
}

.nav ul li a:hover {
    color: #f1c40f;
}
.nav li:hover ul {
    transform: scaleY(1);
}
