html {
    background: #CCF;
    color: #222;
    font-family: sans-serif;
}
body {
    max-width: 700px;
    background: white;
    margin: 0 auto;
    padding: 1em;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    box-shadow: 0 0 10px gray;
}
.sprite {
    float: right;
}
